header {
  background-color: black;
  border-bottom-style: solid;
  border-bottom-color: yellow;
  box-shadow: 0px 1px 2px #888888;
  position: relative;
  z-index: 100;
}

h1 {
  font-family: serif;
  color: yellow;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: -10px;
}

h2 {
  display: inline;
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: serif;
}

.taste {
  text-decoration: line-through;
  color: gray;
}

.are {
  border-bottom-style: solid;
  border-bottom-color: yellow;
  border-bottom-width: 2px;
}

.nav {
  color: white;
  text-align: right;
  margin-right: 10px;
  font-family: Sans-serif;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}

li {
  display: inline-block;
  padding: 5px;
  padding-bottom: 0px;
}

li:first-child, li:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Impact;
}

.subheader {
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.mainpic {
  background-image: url("../images/coworking.jpg");
  height: 300px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  box-shadow: 0px 0px 2px 1px #888888 inset;
}

.mym {
  width: 150px;
  float: right;
  background-color: rgba(255,255,255,.8);
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  display: inline-block;
  padding-bottom: 20px;
  margin-top: 20px;
  height: 225px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px #888888;
}

h3 {
  padding-top: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.mym p {
  font-family: sans-serif;
  font-size: 11.8px;
  margin-top: -10px;
  line-height: 18px;
  text-align: left;
}

.profile {
  background-color: yellow;
  border-style: none;
  border-radius: 2px;
  border-bottom-style: outset;
  border-bottom-color: white;
  margin-top: 10px;
  width: 140px;
  height: 30px;
  font-family: Impact;
  text-transform: uppercase;
  font-size: 14px;
}

.bottom {
  height: 200px;
}

.sec {
  float: left;
  height: 90%;
  width: 29%;
  margin: 1%;
  padding: 1%;
  background-color: white;
  text-align: center;
}

.sec:after {
  clear: both;
  content: "";
}

.sec:not(.three) {
  border-right-color: lightgray;
  border-right-style: solid;
  border-right-width: 1px;
}

.sec p {
  margin-top: 5px;
  line-height: 20px;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
}

.botbutton {
  width: 135px;
  background-color: lightgray;
  font-family: Impact;
  text-transform: uppercase;
  height:35px;
  font-size: 14px;
  padding: 10px;
  border-style: none;
  border-radius: 2px;
  border-bottom-style: outset;
  border-bottom-color: white;
}

footer {
  background-color: black;
  height: 50px;
  color: white;
  line-height: 50px;
  font-family: sans-serif;
  font-size: 12px;
  padding-left: 5px;
}
